@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/** {*/
/*    box-sizing: border-box*/
/*}*/

body {
    background-color: #231f20;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    overflow-x: hidden;
    margin: 0;
}

h1 {
    margin: 10px;
    color: whitesmoke;
}

.box {
    background-color: #fce029;
    color: #0a75bc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0 ,0 ,0 ,0.3);
    /*This will allow the boxes to slide in from the right*/
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

/*This will allow the boxes to slide in from the left*/
.box:nth-of-type(even) {
    transform: translateX(-400%);
}

/*this is the starting position for the boxes*/
.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 25px;
}

button {
    height: 25;
    width:
}