body {
    background-color: mediumseagreen;
    background-image: url("../assets/img/home-back.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position: 80%;
}
h1 {
    text-align: center;
    font-size: 4em;
    color: gold;
}
.quote {
    font-size: 1.2em;
    text-align: center;
    float: top;
    color: gold;
}
.minion-text {
    position: relative;
    width: 400px;
    height: 500px;
    float: right;
    right: 155px;
    top: 55px;


}
.back-drop {

}
.minion-message {
    display: block;
    height: 500px;
    width: 400px;
}

.minion-text p {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -100%);
    margin: 0;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}
.minion-car {
    position: fixed;
    right: -700px; /* Minions in car will start off screen to right */
    top: 280px;
}
/*.car-container {*/
/*    width: 1200px; !* Make sure this width is larger than the screen width *!*/
/*    height: 500px;*/
/*    position: relative;*/
/*}*/